/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= stub "active_admin"
 *= require bootstrap/scss/bootstrap
 *= require_tree .
 *= require_self
 *= require scaffolds
 */
 @import "bootstrap";

body {
    font-family: raleway, sans-serif;
    background-color: #040404;
}
.carousel-inner, image {
    height: 200px;
    width: 100%;
    margin-top: -60px;
}
.container-form {
    padding-top: 2em;
}

.navbar {
    background-color: #000;
    text-decoration: none;

}

footer {
    background-color: #000;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #040404;
  }
  
  li a {
    display: block;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #990C4E;
    color: #000;
  }

  .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 40rem;
    margin: 0 auto;
  }

  p {
     font-weight: 10px;
     color: #fff;
     font-size: small;
  }