
<div class="container mt-5 text-white">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
          <h1 class="text-white mb-4">Santa Reservas: </h1>
            <% @reserves.each do |reserve|%>
            <table class="text-white text-center">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>People</th>
                  <th colspan="1"></th>
                </tr>
              </thead>

              <tbody>
                <% @reserves.each do |reserve| %>
                  <tr>
                    <td><%= reserve.date %></td>
                    <td><%= reserve.time %></td>
                    <td><%= reserve.people %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
        </div>
        <div class="col-4">
        </div>
      </div>
</div>


<%= link_to 'Volver', root_path, :class => 'text-white' %>



