
<div class="container mt-5 text-white">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <table class="table">
  <thead class="text-white">
    <tr class="text-white">
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Hora</th>
      <th scope="col">Dia</th>

    </tr>
  </thead>
  <tbody>
    <tr class="text-white">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
        <tr class="text-white">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
        <tr  class="text-white">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>

  </tbody>
</table>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>

<%= link_to 'Home', root_path %>


